<div style="display: block;text-align: center">
  <canvas baseChart class="barchart-canvas"
          [data]="doughnutChartData"
          [labels]="doughnutChartLabels"
          [options]="doughnutChartOptions"
          [chartType]="doughnutChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
</div>

<div>
<ul class="list-inline">
    <li class="allmeals"><a href="#" (click)="changeChart($event, 'allmeals')"> All Meals for Today </a></li>
    <li>|</li>
    <li class="default"><a href="#" (click)="changeChart($event, 'default')"> Days Need </a>
    <li>|</li>    
    <li class="time"><a href="#" (click)="changeChart($event, 'time')"> Time Between Meals </a></li>
  </ul>
</div>

