<div class="display-center">{{monthYear}}</div>
<div class="display-center">
    
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" (click)="loadPreviousDate($event)" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <ng-container *ngFor="let date of datesArray; let index = index">
    <li class="d-none" [class.d-sm-block]="index > 8" [class.d-md-block]="index > 8" 
    [class.d-lg-block]="index >= 2" [class.d-xl-block]="index >= 0" 
    [class.show-default]="index > 3" 
    >
      <a class="page-link"  (click)="populateMeals($event, date)" href="#">{{date.substr(3,2)}}</a>
    </li>
  </ng-container>
    <li class="page-item">
      <a *ngIf="nextDateShow" class="page-link" (click)="loadNextDate($event)" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>

      <span *ngIf="!nextDateShow" class="page-link" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </span>

    </li>
  </ul>
</nav>
</div>