<div>

  <div class="list-group">
  <a href="#" class="list-group-item active">
    My need is&nbsp; <span style="text-align: right;"> <a href="/profile">{{profile.caloriIntake}} </a> calories a day</span>
  </a>


    <div>
      <table class="table calorie-count-tbl" >
      <tbody>
      <tr><td><div class="">Time left</div><div class=""><b>{{timeLeft}} Hours</b></div></td>
        <td><div class="">calries consumed</div><div class=""><b>{{caloriConsumed}}</b></div></td>
        <td><div class="">calories left/excess</div><div class=""><b>{{ profile.caloriIntake - caloriConsumed}}</b></div></td></tr>
      </tbody>
    </table>
  </div>

    <div style="text-align: center;">{{monthYear}}</div>
    <app-dates (receivetotalDates)="receivetotalDatesParent($event)" [profile] = "profile"   ></app-dates>

    <div class="add-meal">
      <a class="" href="meal"><i class="fa fa-plus-circle" aria-hidden="true"></i> Meal</a>
    </div> 
    <app-daymeal [mealDate]="mealDate" [profile] = "profile"   ></app-daymeal>

</div>

</div>
