
<div>  <span class="box" style="float:left;color:green;">|<span>-</span>Consumed</span>
  <span class="box" style="text-align: center;">&nbsp;</span>
  <span class="box" style="float:right;color:orange;">Pending<span>-</span>|</span></div>

<div class="progress">
  <div class="progress-bar bg-success" [style.width.%]="((consumedCalorie*100)/profile.caloriIntake).toPrecision(2)">

    {{((consumedCalorie*100)/profile.caloriIntake).toPrecision(2)}}%

  </div>

  <div class="progress-bar bg-warning" [style.width.%]="(((profile.caloriIntake-consumedCalorie)*100)/profile.caloriIntake).toPrecision(2)">

    {{(((profile.caloriIntake-consumedCalorie)*100)/profile.caloriIntake).toPrecision(2)}}%


  </div>
</div>
<div style="text-align: center;">Calorie Meter</div>
