body{
  background: white;
}
h3 {
  color : green;
}

.chart-componenet{


}

.dailystat-componenet{

}

.stat-componenet{


}

.calorie-burn-banner{

  margin-top: -18px;
  margin-bottom: -18px;
  text-align: center;

}
