<hr>
<div class="list-group">
<a href="#" class="list-group-item active">
    Stats for last 30 days!
  </a>

  <div>
    <div style="">
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>

</div>
