<div class="jumbotron">
  <h1 class="display-3">Hello, {{profile.name}}!</h1>
  <p class="lead">{{daysQuotes}}</p>
  <a href='https://www.health.harvard.edu/diet-and-weight-loss/calories-burned-in-30-minutes-of-leisure-and-routine-activities'>source</a>
</div>

<div class="calorie-burn-banner hide"> How can i burn soem calorie?  </div>

<hr>

<!--<app-consumebar [profile] = "profile"></app-consumebar>-->
<app-consumebar ></app-consumebar>

<hr>
<!-- Stack the columns on mobile by making one full-width and the other half-width -->
<div class="row">
  <div class="col-xs-12 col-sm-6 col-m-6 chart-componenet">
    <app-chart [profile] = "profile"></app-chart>
  </div>
  <div class="col-xs-12 col-sm-6 col-m-6 dailystat-componenet">
    <app-daystat [profile] = "profile"  ></app-daystat>

  </div>
</div>

<div class="container-fluid">
  <div class="col-xs-12">
    <app-stats></app-stats>
  </div>
</div>



<hr>

